<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApplication1</title>
        <link href="~/app/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  />
        <link href="~/app/vendor/spinkit/spinkit.css" rel="stylesheet" />
        <link href="~/app/vendor/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
        <link href="~/app/vendor/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body ng-controller="BuilderCtrl">
        <div class="app-container">
            <div class="sk-folding-cube builder-loading" ng-hide="builderState">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <div id="builder-wrapper" ng-cloak>
                @RenderBody()
            </div>
        </div>
        <script>
            var require = {
                "baseUrl": "/app/",
                "urlArgs": "bust=" + (new Date()).getTime(),
                "shim": {
                    jquery: {
                        exports: "$"
                    },
                    underscore: {
                        exports: "_"
                    },
                    "jqueryui": { "exports": "$", "deps": ["jquery"] },
                    "vendor/angular": { "exports": "angular", "deps": ["underscore", "jquery"] },
                    "vendor/angular-sanitize": { "deps": ["vendor/angular"] },
                    "vendor/angular-animate": { "deps": ["vendor/angular"] },
                    "vendor/angular-route": { "deps": ["vendor/angular"] },
                    "vendor/bindonce": { "deps": ["vendor/angular"] }
                },
                "paths": {
                    "jquery": "vendor/jquery/dist/jquery.min",
                    "jqueryui": "vendor/jquery-ui/jquery-ui",
                    "jquery.ui.widget": "vendor/jquery-file-upload/js/vendor/jquery.ui.widget",
                    "underscore": "vendor/underscore/underscore-min",
                    "bootstrap": "vendor/bootstrap/dist/js/bootstrap.min",
                    "vendor/angular": "vendor/angular/angular",
                    "vendor/angular-sanitize": "vendor/angular-sanitize/angular-sanitize",
                    "vendor/angular-animate": "vendor/angular-animate/angular-animate",
                    "vendor/angular-route": "vendor/angular-route/angular-route",
                    "vendor/bindonce": "vendor/angular-bindonce/bindonce",
                    "vendor/text": "vendor/requirejs-text/text",
                    "tmpl": "vendor/blueimp-tmpl/js/tmpl",
                    "load-image": "vendor/blueimp-load-image/js/load-image",
                    "load-image-meta": "vendor/blueimp-load-image/js/load-image-meta",
                    "load-image-exif": "vendor/blueimp-load-image/js/load-image-exif",
                    "load-image-ios": "vendor/blueimp-load-image/js/load-image-ios",
                    "canvas-to-blob": "vendor/blueimp-canvas-to-blob/js/canvas-to-blob",
                    "jquery.iframe-transport": "vendor/jquery-file-upload/js/jquery.iframe-transport",
                    "jquery.fileupload": "vendor/jquery-file-upload/js/jquery.fileupload",
                    "jquery.fileupload-process": "vendor/jquery-file-upload/js/jquery.fileupload-process",
                    "./jquery.fileupload-process": "vendor/jquery-file-upload/js/jquery.fileupload-process",
                    "jquery.fileupload-image": "vendor/jquery-file-upload/js/jquery.fileupload-image",
                    "jquery.fileupload-audio": "vendor/jquery-file-upload/js/jquery.fileupload-audio",
                    "jquery.fileupload-video": "vendor/jquery-file-upload/js/jquery.fileupload-video",
                    "jquery.fileupload-validate": "vendor/jquery-file-upload/js/jquery.fileupload-validate",
                    "jquery.fileupload-ui": "vendor/jquery-file-upload/js/jquery.fileupload-ui",
                },
                "waitSeconds": 0
            };

        </script>
        <script src="~/app/vendor/requirejs/require.js"></script>
        <script>
            define('config', {
                "settings": {
                    "title": "@ViewBag.Title",
                    "isUiMetricsEnabled": true
                },
            });

            setTimeout(function () {
                // demonstrate long running initial loading process
                require(["jquery"], function ($) {
                    require(["modules/builder/main"]);
                });
            }, 2000);

        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
